body
{
        margin: 0;
	padding: 0;
	color: #555;;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #FFF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 10pt;
}

#content
{
    margin-top: 30px;
    padding: 1.3em;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 10px;
	font-size: 200%;
        margin-left: -20px;
        margin-bottom: 15px;
}

/*#mainmenu
{
	background: #E3E3E3;
}*/

/*#mainmenu ul
{
	padding:16px 20px 8px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}*/

/*#area_real_loc 
{
   margin-left: 6em;
   font-size: 17px; 
}*/

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
        font-size: 115%;
        background-color: #FEFEFE;;
}

ul.nav.nav-list
{
    margin-top: 3em;
    margin-left: 3em;
    font-size:17px;
    border: 1px solid #C9E0ED;
}


/*#yw2
{
    width: 167px;
}*/

div.panel-heading
{
  font-size: 14px;
}

div.view_with_contain
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
        background-color: #04B404;
        color: white;
        font-size: 115%;
}

div.view_with_padding
{
    margin:8px 0 0 9px;
}

div.client_label
{
   margin-top:10px;
   font-size: 21px;
}

button.btn.btn-success 
{
  margin-bottom: 1em;
  margin-top: 1em;
  width: 15em; 
}
/*input.form-control
{
   width:200px; 
   height:30px;
   font-size:18px;
   color:#1657BD;
}*/

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

span.label.label-default
{
    font-size: 160%; 
}

/*.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #55F296;
	border-left: 5px solid #3BAD6B;
}

.portlet-title
{
	font-size: 16px;
	font-weight: bold;
	padding: 5px;
	margin: 0;
	color: white;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 15px 18px;
        background:#F0F7E6;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 16px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 23px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #394A99;
}

.operations li a:hover
{
	background: #3BAD6B;
        color:white;
}*/

.nav-tabs {
    font-size:23px;
}

#area-form 
{
    margin-top:20px;
}

div.list-view
{
   padding-top: 0px;
}
